.SignUp {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    place-items: center;
}

.login {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    place-items: center;

}

.inputBox {
    border-radius: 20px;
    padding: 10px;
}

.Button {
    border-radius: 10px;
    background-color: #f70000;
    width: 10%;
    height: 30px;
}

.footer {
    background: skyblue;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

ul {
    display: flex;
    background-color: skyblue;
    color: white;
    list-style-type: none;
    margin: 0px;
}

ul li {
    color: white;
    padding: 30px;
}

ul li a {
    text-decoration: none;
    color: blue;
}