.SignUp {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    place-items: center;
}

.inputBox {
    border-radius: 20px;
    padding: 10px;
}

.Button {
    border-radius: 10px;
    background-color: #f70000;
    width: 10%;
    height: 30px;
}

.footer {
    background: skyblue;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.navbar {
    background-color: #FBC551;

}

.nav-ul {
    display: flex;
    color: white;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    color: white;
    padding: 30px;
}

ul li a {
    text-decoration: none;
    color: blue;
}

.nav-right {
    justify-content: flex-end;
}

.logo {
    width: 50px;
    float: left;
    margin: 15px;
}

.error {
    color: red;
    font-family: cursive;
    font-size: medium;
    margin-top: -15px;
    margin-left: 5px;
}

.product-table {
    border: 1px solid black;
    margin: auto;
}

.product-row th,
td {
    border: 1px solid red;
}